.store-wrapper .product__tbody .products__image {
  height: 50px;
  width: 50px;
}
.store-wrapper .alert-header {
  background-color: #2980b9;
  color: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}
